* {
    box-sizing: border-box;
}

@keyframes tonone {
    100% {
        opacity: 0;
    }
}

@keyframes blurout {
    from {
        filter: blur(1200px);
    }
}

.objimg {
    display: block;
    position: absolute;

    object-position: left;
    left: 1.2vw;
    bottom: 1.5vw;
    width: 1.5vw;

}

@font-face {
    src: url(Fonts/SF-Pro-Text-Regular.otf);
    font-family: apple-font;
}

@font-face {
    font-family: NewsFlash;
    src: url(Fonts/NewsflashBB.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation-name: blurout;
    animation-duration: 1.5s;
}

#wrap {
    display: fixed;
    filter: blur(0px);
    top: 0px;
    left: 0;
}

#contentout {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.859); */
}

#contentin {
    width: 50vw;
    height: 25vw;
    border-radius: 10px;
    display: block;
    /* background-color: rgb(223, 222, 222); */
    background-color: aliceblue;
    top: 200px;
    position: absolute;
    left: 25vw;
    border-width: 0.3vw;
    border-style: solid;
    border-color: black;
}

#content {
    display: block;
    position: absolute;
    width: 28vw;
    height: 11.8vw;
    top: 7.5vw;
    right: 2vw;
    overflow-y: auto;
    font-size: 1.5vw;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0.5vw;
}

#authndate {
    display: block;
    position: absolute;
    width: auto;
    height: 3vw;
    top: 20vw;
    right: 2vw;
    overflow: hidden;
    font-size: 1.2vw;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 10px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#contentimg {
    display: block;
    width: 16vw;
    height: 16vw;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    float: left;
    top: 7vw;
    position: absolute;
    left: 2vw;
}

#close {
    display: block;
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 3vw;
    width: 6vw;
    background-color: tomato;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 2vw;
    text-align: center;
    font-family: apple-font;
    color: white;
    user-select: none;
}

#close:hover {
    background-color: red;
}

#contentTit {
    display: block;
    position: absolute;
    top: 0;
    height: 6vw;
    border-radius: 5px 5px 0px 0px;
    width: 49.7vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: 1.7vw;
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
    /* background-color: rgb(215, 168, 146); */
    background-image: url(images/noita-digital-zcx5ztIjQAM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 10vw;
    color: antiquewhite;
    padding-right: 7.5vw;
}

.headerDiv {
    background-image: url("images/noita-digital-zcx5ztIjQAM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 4000px 100px;
    height: 93px;
    width: 100vw;
    position: relative;
    top: 0px;
    display: block;
}

.headerDiv p {
    position: relative;
    margin: 0;
    padding: 0;
    top: 55%;
    transform: translate(0, -50%);
    text-indent: 30px;
    /* color: azure; */
    color: rgb(253, 249, 243);
    font-size: 85px;
    user-select: none;
    font-family: NewsFlash;
}

.navbar {
    background-color: hsl(0, 0%, 100%);
    height: 50px;
    width: 100%;
    padding-left: 40px;
}

.navbutt {
    position: relative;
    /* padding-right: 15px;
    padding-left: 15px; */
    float: left;
    text-align: center;
    font-size: 18px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.navbutt:hover {
    background-color: black;
    /* color: white; */
    color: rgb(247, 240, 231);
}

.navbar .act {
    background-color: black;
    /* color: white; */
    color: rgb(247, 240, 231);
}

.navbutt p {
    position: relative;
    user-select: none;
    margin: 0;
    /* padding: 0; */
    top: 50%;
    transform: translate(0, -50%);
    font-family: apple-font;
    font-weight: bold;

    display: block;
    height: 50px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

#navdropdown {
    width: 70px;
    float: left;
    height: 50px;
}

#navsearch {
    width: 70px;
    float: right;
    height: 50px;
}

.colachanga:hover {
    stroke: hsl(0, 0%, 45%);

}

.drop:hover {
    stroke: white;
    fill: black;
}

.breakingNews {
    background-color: hsl(0, 0%, 92%);
    height: 42px;
    width: 100%;
    padding-left: 30px;
}

.breakingNews div {
    position: relative;
    height: 42px;
    color: rgb(0, 0, 0);
}

.breakingNews div p {
    position: relative;
    user-select: none;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-family: apple-font;
}

#breaking {
    padding-left: 5px;
    padding-right: 15px;
    float: left;
    font-size: 21px;
}

#local {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    font-size: 21px;
}

#Date {
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    font-size: 14px;
}

.breakingNews #breakingimg {
    width: 36px;
    float: left;
    height: 42px;
}

.breakingNews #weather {
    width: 36px;
    float: right;
    height: 42px;
}

section {
    width: 70vw;
    float: left;
}

section .imageNews {
    font-family: apple-font;
    display: none;
    float: left;
    border-radius: 10px;
    width: 10vw;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    margin: 0;
    position: sticky;
}

section #big1 {
    width: 31vw;
    height: 31vw;
    /* background-image: url("images/sampleimage1.jpg"); */
}

section #big2 {
    width: 16vw;
    height: 31vw;
    /* background-image: url("images/sampleimage5.jpg"); */
}

section #big3 {
    width: 15vw;
    height: 14.5vw;
    /* background-image: url("images/sampleimage3.jpg"); */
}

section #big4 {
    width: 15vw;
    height: 14.5vw;
    /* background-image: url("images/sampleimage4.jpg"); */
}

section a {
    text-decoration: none;
}

section a:hover .imageNews {
    filter: invert(0.8);
}

.imageNews .proTags {
    position: absolute;
    bottom: 8vw;
    left: 1vw;
    font-size: 0.9vw;
    width: auto;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    float: left;
    text-align: center;
    display: block;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 20px;
}

.imageNews .proTags:hover {
    background-color: rgb(158, 158, 158);
    color: black;

}

.imageNews #proT2 {
    left: 6vw;
}

.imageNews .NewsTitle {
    position: absolute;
    bottom: 3.5vw;
    text-align: left;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 1.7vw;
    height: 4vw;
    width: 100%;
    color: aliceblue;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.imageNews .NewsTitle:hover {
    text-decoration: underline;
    font-family: Arial;
}

.imageNews .auth {
    position: absolute;
    text-align: left;
    bottom: 1.6vw;
    font-size: 0.9vw;
    padding-left: 3vw;
    padding-right: 1vw;
    float: left;
    color: aliceblue;
    width: 6vw;
}

.imageNews .auth:hover {
    text-decoration: underline;
    font-style: italic;
}


.imageNews .datepub {
    position: absolute;
    text-align: left;
    bottom: 1.6vw;
    left: 5vw;
    font-size: 0.9vw;
    padding-left: 2.25vw;
    padding-right: 2vw;
    float: left;
    color: aliceblue;
}

.imageNews .datepub:hover {
    /* text-decoration: underline; */
    /* color: rgb(132, 198, 255); */
    color: rgb(243, 209, 160);
}

article {
    width: 28vw;
    height: 31vw;
    float: right;
    padding: 0;
    margin: 0;
}

article .selectors {
    width: 13vw;
    height: 3vw;
    /* background-color: rgb(221, 221, 221); */
    background-color: hsl(0, 0%, 95%);
    display: block;
    float: left;
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 1vw;
    padding-top: 1vw;
}

article .selectors:hover {
    background-color: rgb(53, 53, 53);
    color: antiquewhite;
    user-select: none;
}

article .active {
    background-color: rgb(53, 53, 53);
    color: antiquewhite;
    user-select: none;
}

/* article .selectors {
    position: relative;
    font-size: 1vw;
} */

article #late {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

article #pop {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

article .containerDiv .art .imagesmall {
    float: left;
    margin: 0.5vw;
    width: 6vw;
    height: 6vw;
    border-radius: 10px;
    /* background-color: aqua; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article .containerDiv .art {
    width: 28vw;
    height: 7vw;
    padding-right: 1vw;
    display: block;
    float: left;
    font-family: monospace;
}

article .containerDiv .art .titlesmall {
    padding-top: 0.8vw;
    font-size: 1.1vw;
    padding-left: 0.5vw;
    height: 4.5vw;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

article .containerDiv .art:hover .titlesmall {
    text-decoration: underline;
    user-select: none;
}

article .containerDiv .art:hover .imagesmall {
    filter: brightness(1.13);
}

article .containerDiv .art .datesmall {
    height: 3vw;
    display: block;
    float: left;
    padding-left: 0.6vw;
    padding-top: 0.5vw;
    font-size: 1vw;
    color: rgb(112, 112, 112);
}

article .containerDiv .art .datesmall:hover {
    color: rgb(179, 134, 75);
    user-select: none;
}

article .containerDiv a {
    text-decoration: none;
}

article .containerDiv {
    overflow-y: auto;
    overflow-x: hidden;
    height: 28vw;
    float: left;
    width: 28vw;
}

@media screen and (max-width:900px) {
    .navbutt {
        display: none;
    }
}

@media screen and (max-width:600px) {
    #breaking {
        display: none;
    }



}

@media screen and (max-width:800px) {
    .navbutt {
        display: none;
    }

    section {
        width: 100vw;
    }

    section #big1 {
        width: 50vw;
        height: 50vw;
    }

    section #big2 {
        width: 20vw;
        height: 50vw;
    }

    section #big3 {
        width: 20vw;
        height: 24vw;
    }

    section #big4 {
        width: 20vw;
        height: 24vw;
    }

    article {
        width: 100vw;
    }

    .headerDiv {
        height: 70px;
    }

    .headerDiv p {
        font-size: 70px;
    }

    article .containerDiv {
        float: right;
        width: 100vw;
        height: auto;
        display: block;
    }

    article .selectors {
        display: none;
    }
}